@model IEnumerable<StaffManagementMVC.Models.Staff>

@{
	ViewData["Title"] = "Staff Management";
}
<div class="row">
	<div class="col-md-8 offset-md-2">
		<h1 class="text-center">Staff List</h1>

		<div class="row mt-3">
			<div class="col-md-6">
				<a asp-controller="Staff" asp-action="Search" class="col-md-6 btn btn-sm btn-info text-white">
					Advance Search
				</a>
			</div>

			<div class="col-md-6 d-flex justify-content-end">
			<a asp-controller="Staff" asp-action="ExportStaffToExcel" class="col-md-6 btn btn-secondary me-2">
				Export to Excel
			</a>
				<a asp-controller="Staff" asp-action="ExportStaffToPdf" class="col-md-6 btn btn-secondary ms-2">
				Export to PDF
			</a>
			</div>
		</div>

		<table class="table table-striped" border="1">
			<thead>
				<tr>
					<th class="text-center">
						@Html.DisplayNameFor(model => model.StaffId)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.FullName)
					</th>
					<th class="text-center">
						@Html.DisplayNameFor(model => model.Birthday)
					</th>
					<th class="text-center">
						@Html.DisplayNameFor(model => model.Gender)
					</th>
					<th class="text-center">
						<a asp-controller="Staff" asp-action="Add" class="btn btn-sm btn-success w-75">
							New Staff
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var staff in Model ?? Enumerable.Empty<Staff>())
				{
					<tr>
						<td class="text-center">
							@staff.StaffId
						</td>
						<td>
							@staff.FullName
						</td>
						<td class="text-center">
							@staff.Birthday.ToString("dd/MM/yyyy")
						</td>
						<td class="text-center">
							@if (staff.Gender == 1)
							{
								<text>Male</text>
							}
							else
							{
								<text>Female</text>
							}
						</td>
						<td class="text-center">
							<div>
								<a asp-controller="Staff" asp-action="Edit" asp-route-id="@staff.StaffId" class="btn btn-info text-white">Update</a>
								<a onclick="return confirm('Are you sure you want to delete this record?')"
								   asp-controller="Staff" asp-action="Delete" asp-route-id="@staff.StaffId" class="btn btn-danger">Delete</a>
							</div>
						</td>
					</tr>
				}
				@if (Model == null)
				{
					<tr>
						No data found
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>